* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cajonera {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 80px;
    gap: 40px;
}

.cardprod:hover{
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    border: 1px solid black;
    
}

.cardprod:hover {
    box-shadow: 0px 0px 10px black;
    padding: 30px;
    border: 1px solid violet;

}


/* NAV BAR AZUL */
.navbarazul {
    width: 100%;
    height: 100px;
    display: flex;
    background-image: linear-gradient(to bottom, #8e04cd, #5d229f, #38226e, #1f193c, #090909);    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.conteiner-logo {
    display: flex;
   align-items: center;
   align-content: center;
}



.buscador {
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.buscador-input {
    width: 100%;
}

.header2 {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: black;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.nav-item a {
    color: white;
}

.nav-detalles {
    gap: 10%;
    margin-left: -15%;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

.tel {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.tel img {

}

.tel-margenes {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tel-margenes2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 35px;
}

.tel-parrafo {
    padding: 10px;
    margin-top: 16px;
 
}

.usuario {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;

}

.usuario-padd {
    padding: 20px;
}

.usuario-btn {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;

}

.usuario-btn p {
    width: 100%;
    height: 8px;
}


.efecto-hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.efecto-hover:hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: violet;
}

.navbar-nav li a:hover {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: violet;
}

.navbar-nav ul li a {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
}



.cajon-contenido {
    padding: 20px;
}

.marcas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.marcas-destacadas {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start ;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.ver-marcas {
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.conteiner-marcas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    
}

.footer-conteiner {
    background-color: black;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    width: 100%;
}
.conteiner-boxes {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2%;
    padding: 10px;
    margin: 10px;
    width: 100%;
    overflow: hidden;
}
.footer-tit {
    color: white;
}


.conteiner-logo-foot {
   display: flex;
   align-items: center;
   align-content: center;
   width: 25%;
   margin-right: 40px;
}

.logo-imagen-foot {
    display: flex;
}

.conteiner-nosotros{
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}

.box-us {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}

.conteiner-info {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}
.conteiner-categorias {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-cat {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}
.conteiner-clientes {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-client {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 140px;
}
.conteiner-redes {
    display: flex;
    width: 25%;
    height: 100%;
    gap: 5%;
}
.box-redes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}

